<div id="datetime-widget-view" class="text-input">
    <input name="day" class="date-input" type="text" class="datetime-date short" placeholder="DD" maxlength="2"/>
    <span id="date-separator" class="date-input-separator">/</span>
    <input name="month" class="date-input" type="text" class="datetime-date short" placeholder="MM" maxlength="2"/>
    <span id="date-separator" class="date-input-separator">/</span>
    <input name="year" class="date-input long" type="text" class="datetime-date long" placeholder="YYYY" maxlength="4"/>

    <span class="date-input-separator"></span>

    <input name="hour" class="date-input" type="text" class="datetime-date short" placeholder="HH" maxlength="2"/>
    <span id="time-separator" class="date-input-separator">:</span>
    <input name="minute" class="date-input" type="text" class="datetime-date short" placeholder="mm" maxlength="2"/>
    <span id="time-separator" class="date-input-separator">:</span>
    <input name="second" class="date-input" type="text" class="datetime-date short" placeholder="SS" maxlength="2"/>
</div>